/* Секция Наша команда */
.team {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.teammate {
  --card-gap: 30px;
  --card-count: 4;
  width: calc(
    (100% - (var(--card-gap) * (var(--card-count) - 1))) / var(--card-count)
  );

  background-color: var(--page-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammate__info-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teammate__name {
  color: var(--title-primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.teammate__position {
  /* font-weight: 400 значение для параграфа умолчанию */
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Соцсети */
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icon-main-color);
  transition: color 250ms var(--time-function),
    background-color 250ms var(--time-function);
  outline: none;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--page-background);
  }
}

// .social-link:focus,
// .social-link:hover {
//     background-color: var(--accent-color);
//     color: var(--page-background);
// }

.social-link__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}
